# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Python packaging
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db